<header>
  <nav class="navbar navbar-default topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.base_url }}/"><img src="/img/ABM_White_Logo_Mark01.png" alt="Brand"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if page.url == '/about.html' %}
            <li class="active dropdown">
          {% else %}
            <li class="dropdown">
          {% endif %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/about.html">Us</a></li>
                <li><a href="/about.html#mission">Mission</a></li>
                <li><a href="/about.html#executive_team">Executive Team</a></li>
              </ul>
            </li>

          {% if page.url == '/products.html' %}
            <li class="active dropdown">
          {% else %}
            <li class="dropdown">
          {% endif %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/products.html">All</a></li>
                <li><a href="/vivace.html">VIVACE</a></li>
                <li><a href="/peptide_glide.html">3x Peptide Glide</a></li>
                <li><a href="/binteren_mask.html">Binteren Mask</a></li>
                <li><a href="/amniospray.html">AmnioSpray</a></li>
              </ul>
            </li>
            <li {% if page.url == '/news.html' %}class="active"{% endif %} >
              <a href="/news.html">News</a>
            </li>
            <li {% if page.url == '/contact.html' %}class="active"{% endif %} >
              <a href="/contact.html">Contact</a>
            </li>
        </ul>



      </div>
    </div>
  </nav>
  <div class="divider"></div>
</header>



























    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

   <!--  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.base_url }}/"><img src="img/ABM_White_Logo_Mark01.png" alt=""></a>
        </div>
      </div>
    </nav> -->




          <!--
              Nav for large screens
           -->
         <!--  <ul class="right hide-on-med-and-down">
            <li>
              <a href="about_us.html" class="dropdown-button" data-activates="navDropdownAbout">
                About Us<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <ul id="navDropdownAbout" class="dropdown-content">
              <li><a class="underline" href="about_us.html">About Us</a></li>
              <li><a href="about_us.html#mission">Mission</a></li>
              <li><a href="about_us.html#executive_team">Executive Team</a></li>
            </ul>
            <li>
              <a href="care_centers/care_centers.html" class="dropdown-button" data-activates="navDropdownCareCenters">
                Care Centers<i class="material-icons right">arrow_drop_down</i>
              </a>
              <ul id="navDropdownCareCenters" class="dropdown-content">
                <li><a class="underline" href="care_centers/care_centers.html">Care Centers</a></li>
                <li><a href="care_centers/experience.html">Experience</a></li>
                <li><a href="care_centers/training.html">Training</a></li>
                <li><a href="care_centers/locations.html">Locations</a></li>
                <li><a href="care_centers/start.html">Start a Care Center</a></li>
              </ul>
            </li>
            <li>
              <a href="prodcuts/products.html" class="dropdown-button" data-activates="navDropdownProducts">
                Products<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <ul id="navDropdownProducts" class="dropdown-content">
              <li><a class="underline" href="products.html">Products</a></li>
              <li><a href="vivace/vivace.html">VIVACE</a></li>
              <li><a href="peptide_glide/peptide_glide.html">3x Peptide Glide</a></li>
              <li><a href="binteren_mask/binteren_mask.html">Binteren Mask</a></li>
              <li><a href="amniospray/amniospray.html">AmnioSpray</a></li>
            </ul>
            <li>
              <a href="technology/technology.html" class="dropdown-button" data-activates="navDropdownTechnology">
                Technology<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <ul id="navDropdownTechnology" class="dropdown-content">
              <li><a class="underline" href="technology.html">Technology</a></li>
              <li><a href="technology/regulatory_expertise.html">Regulatory Expertise</a></li>
              <li><a href="technology/ip.html">Intellectual Property</a></li>
              <li><a href="technology/partner.html">Partner With Us</a></li>
            </ul>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul> -->
          <!--
              Nav for small and medium screens
           -->
         <!--  <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons">menu</i></a>
          <ul id="slide-out" class="side-nav">
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">About<i class="material-icons right">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="about_us.html">Us</a></li>
                      <li><a href="about_us.html#mission">Mission</a></li>
                      <li><a href="about_us.html#executive_team">Executive Team</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Care Centers<i class="material-icons right">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="care_centers/experience.html">Experience</a></li>
                      <li><a href="care_centers/training.html">Training</a></li>
                      <li><a href="care_centers/locations.html">Locations</a></li>
                      <li><a href="care_centers/start.html">Start a Care Center</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Products<i class="material-icons right">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="products.html">All</a></li>
                      <li><a href="vivace/vivace.html">VIVACE</a></li>
                      <li><a href="peptide_glide/peptide_glide.html">3x Peptide Glide</a></li>
                      <li><a href="binteren_mask/binteren_mask.html">Binteren Mask</a></li>
                      <li><a href="amniospray/amniospray.html">AmnioSpray</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Technology<i class="material-icons right">arrow_drop_down</i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="technology/regulatory_expertise.html">Regulatory Expertise</a></li>
                      <li><a href="technology/ip.html">Intellectual Property</a></li>
                      <li><a href="technology/partner.html">Partner With Us</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="news.html">News</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </nav>
 -->



  <!-- </div> -->

</header>
