body {
	background-color: #fff;
}

nav {
	background-color: #F0D5BE;
}

.brand-logo img {
		width: 50px;
		height: 50px;
		margin-top: 2px;
}

.overlay {
    background: #707070;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
}

.hero {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-image: url('images/woman_looking_down.jpeg');
}
.hero-content {
    position: relative;
    height: 90vh;
    width: 90vw;
    margin: auto;
}
.hero img {
    position: absolute;
    width: 90%;
    bottom: 10%;
    z-index: 1000;
}
.hero-img-container {
    margin: auto;
    width: 80vw;
    height: 100%;
}

.material-icons.md-72 { font-size: 72px; }

.promo i {
        margin: 40px 0;
    color: #000;
    font-size: 7rem;
    display: block;
 }

.sitemap_nav_category>li {
    font-weight: bold;
    text-decoration: underline;
}