body { background-color: #fff; }

nav { background-color: #d9b792; }

nav li a { font-weight: 100; }

.brand-logo { min-width: 60px; }

.brand-logo img {
	width: 50px;
	height: 50px;
	margin-top: 3px;
}

.overlay {
    background: #707070;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    position: absolute;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: 20% 30%;
    background-repeat: no-repeat;
	background-image: url('../img/woman_looking_down.jpeg');
}

.hero-content {
    position: relative;
    height: 90vh;
    width: 90vw;
    max-width: 875px;
    margin: auto;
}

.hero img {
    position: absolute;
    width: 100%;
    bottom: 10%;
    z-index: 1000;
}

.hero-img-container {
    margin: auto;
    width: 80vw;
    height: 100%;
}

.row-padding {
    padding: 4em 0;
}

.row-blue { background: blue; }

.row-black { background-color: #bbb !important;  }

.page-footer a {
    color: #000;
    font-weight: 300;
}

.material-icons.md-72 { font-size: 72px; }

.promo {
    min-height: 30vh;
    margin-top: 10vh;
}

.promo i {
    margin: 40px 0;
    color: #000;
    font-size: 7rem;
    display: block;
 }

.underline { text-decoration: underline; }

.card-image-product {
    max-height: 200px;
    min-height: 200px;
}

.card img { max-height: 200px; }

.product-banner {
    width: 150px;
    height: 450px;
    margin: 10vh auto;
}

.product-banner-image { width: 133px; }

.product-sub-header { text-align: center; }

.smallish { height: 350px; }

.bullets li { list-style-type: disc; }