@font-face {
    font-family: 'newsGothicStd';
    src: url(../fonts/news_gothic_std.otf);
}
@font-face {
    font-family: 'newsGothicStd';
    src: url(../fonts/news_gothic_std_bold.otf);
    font-weight: bold;
}

.sans-serif li { font-family: sans-serif; }

.roboto li { font-family: "Roboto"; }

body {
    background-color: #fff;
    color: #666;
    font-family: bariol-regular, arial, helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 { color: #444; }

nav { background-color: #d9b792; }

nav li a { font-weight: 100; }

.brand-logo { min-width: 60px; }

.brand-logo img {
	width: 50px;
	height: 50px;
	margin-top: 3px;
}

.overlay {
    background: #707070;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    position: absolute;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: 20% 30%;
    background-repeat: no-repeat;
	background-image: url('../img/woman_looking_down.jpeg');
}

.hero-content {
    position: relative;
    height: 90vh;
    width: 90vw;
    max-width: 875px;
    margin: auto;
}

.hero img {
    position: absolute;
    width: 100%;
    bottom: 10%;
    z-index: 1000;
}

.hero-img-container {
    margin: auto;
    width: 80vw;
    height: 100%;
}


.row-padding {
    padding: 4em 0;
}

.row-blue { background: blue; }

.row-black { background-color: #000 !important;  }

.page-footer a {
    color: #d3d3d3;
    font-weight: 300;
}

.material-icons.md-72 { font-size: 72px; }

.promo {
    min-height: 30vh;
    margin-top: 10vh;
}

.promo i {
    margin: 40px 0;
    color: #000;
    font-size: 7rem;
    display: block;
 }

.underline { text-decoration: underline; }

.card-image-product {
    max-height: 200px;
    min-height: 200px;
}

.card img { max-height: 200px; }

.product-hero {
}
.product-banner {
    width: 150px;
    height: 450px;
    margin: 10vh auto;
}

.product-banner-image { width: 133px; }

.product-sub-header { text-align: center; }

.vivace-subheader {
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
}

.line-height-2 { line-height: 2em; }

.padding-left-2 { padding-left: 2em; }

.small-image { width: 350px; }

.image-width-60 { max-width: 60px; }

.image-width-150 { max-width: 150px; }

.image-width-400 { max-width: 400px; }


.smallish { height: 350px; }

.bullets li { list-style-type: disc; }

.content-page-header { height: 200px; }

.content-page-header h1 {
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
}

.sub-header { padding: 50px 0; }

.profile-pic {
    max-width: 200px;
    margin-top: 20px;
}

.team-sub-title {
    font-size: 1.25em;
    color: #000;
    font-style: italic;
}

.team p { font-size: 1.25em; }

.about .divider { margin-top: 100px; }

.top-margin-50 { margin-top: 50px; }

.top-margin-100 { margin-top: 100px; }

.left-margin-30 { margin-left: 30px }

